@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');

body {
    background: #365656;
    box-sizing: border-box;
    font-family: 'Gotu', sans-serif;
    height: 100%;
}

p {
  font-size: 1.7rem;
}
  
header {
    /* border: 1px solid black; */
    height: 25vh;
    margin: 10px;
    box-sizing: border-box;
    background: url(/images/abyan-athif-K0U0eSAjFGU-unsplash.jpg)  center  #43464b;
    background-size: center;
    text-align: center;
    display: flex;
    flex-direction: column;
      
}
.topbutton {
    background-color: #614344;
    font-size: 14px;
    border-radius: 5px;
    border-color:#614344;
    color: #CBD2D0;
    padding: 5px 20px;
    margin: 0 auto;
    justify-content: center;
}
header h2 {
  font-size: 30px;
  color: #324F4F;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
}

h1{
    font-size: 24px;
    font-weight: 800;
    color: #CBD2D0;
    text-align: left;
    margin-left: 20px;
}
 .quote {
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  /* margin: 20px; */
  color: #CBD2D0;
 } 


.b {
    /* border: 1px solid black; */
    height: 25vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 10px;
}
.sub-wrapper {
    
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 65vh;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;   
    margin: 0 auto;
    /* border-top: 3px purple double; */
   
    
     
}
.c {
    flex-basis: 25%;
    box-sizing: border-box;
    margin: 1%;
    text-align: center;
    min-width: 200px;
    min-height: 200px;  
    background-image: url("images/IMG_8521.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    transition: .5s ease;
}

.c:hover {
transform: scale(.8);
transition: .5s ease;
}

.d{
  flex-basis: 25%;
  box-sizing: border-box;
  margin: 1%;
  text-align: center;
  min-width: 200px;
  min-height: 200px; 
  background-image: url("images/IMG_8524.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  transition: .5s ease;
}

.d:hover {
transform: scale(.8);
transition: .5s ease;
}
.e {
  flex-basis: 25%;
  box-sizing: border-box;
  margin: 1%;
  text-align: center;
  min-width: 200px;
  min-height: 200px; 
  background-image: url("images/IMG_8526.jpg");
  background-position: center; 
  background-size: cover;
  position: relative;
  transition: .5s ease;
}

.e:hover {
transform: scale(.8);
transition: .5s ease;
}

.f {
  flex-basis: 25%;
  box-sizing: border-box;
  margin: 1%;
  text-align: center;
  min-width: 200px;
  min-height: 200px; 
  background-image: url("images/IMG_8528.jpg");
  background-position: center; 
  background-size: cover;
  position: relative;
  transition: .5s ease;
}

.f:hover {
transform: scale(.8);
transition: .5s ease;
}



.main-wrapper {
    box-sizing: border-box;
    height: 100%;
    
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    height: 100%;


}

.footer {
      box-sizing: border-box;
      display: flex;
      height: 2vh;
      justify-content: space-evenly;
      /* padding: 10px 40px; */
     
}
.img-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.bigger {
  max-width: 450px;
  max-height: 600px;
  align-self: center;
  padding-top: 20px;
}

.bigger-text {
  font-size: 1.5rem;
  text-align: center;
  padding: 5%;
  color:#CBD2D0;
}

.back {
text-align: center;
margin: 15px;
}
  
a {
      color: #CBD2D0;
      transition: animated bounce;
}

a:hover {
      text-decoration: none;
}


.main-text {
  text-align: center;
  font-size: 1.0rem;
  color: #CBD2D0;
  margin-bottom: 15px;
}

button {
  background-color: #614344;
  font-size: 14px;
  border-radius: 5px;
  border-color: #614344;
  color: #CBD2D0;
  padding: 5px 25px;
  box-sizing: border-box;
  margin: 0 auto;
}

.logo {
  max-width: 60px;
  align-self: initial;
  display: flex;
  max-height: 50px;

}

.footer-link {
  font-size: .9rem;
  color: #CBD2D0;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
}

.modal-content {
  background-color: #7F9393;
  margin: 20% auto; 
  padding: 15px;
  border: 3px solid #614344;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  color: #2D4747;
}

.close {
  color: #CBD2D0;
  font-size: 28px;
  font-weight: bold;
  padding-left: 25px;
  box-sizing: border-box;
}

.close:hover,
.close:focus {
  color: #614344;
  text-decoration: none;
  cursor: pointer;
}

.modal-text {
  font-size: 1.1rem;
}

@media (min-width: 680px) {
  .b {
    height: 18vh;
  }

.sub-wrapper {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 70%;   
  margin: 0 auto;
  
}



@media (min-width: 768px) {
  .b {
    height: 18vh;
  }

.sub-wrapper {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 60%;   
  margin: 0 auto;
  
}
.c, .d, .e, .f {
  flex-basis: 20%;
  box-sizing: border-box;
  justify-content: center;
  min-width: 200px;
  min-height: 200px; 
  padding: 5px;
}
.bigger {
  max-width: 800px;
  max-height: 800px;
  align-self: center;
  padding: 15px;
}
}
@media (min-width: 1100px) {
  .c, .d, .e, .f {
    flex-basis: 20%;
    box-sizing: border-box;
    justify-content: space-evenly;
    max-width: 200px;
    max-height: 200px; 
    margin: 5px;
    flex-wrap: wrap;
  }
  .sub-wrapper {
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;  
    width: 80%;   
    margin: 0 auto;
  }

header h2 {
  font-size: 2.2rem;
}
}



@media (min-width: 1450px) {
   html {
    position: relative;
   }
    .container {
      display: flex;
      height: 40vh;
    }
    .a {
      height: 10vh;
      }
  .b {
    height: 15vh;
  }
  .sub-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;  
    width: 100%;   
    margin: 0 auto;
  }
  .bigger {
    max-width: 900px;
    max-height: 800px;
    align-self: center;
    padding: 5px;
  }

  .bigger-text {
    font-size: 1.5rem;
    text-align: center;
    padding: 2%;
  }

  .c, .d, .e, .f {
    flex-basis: 20%;
    box-sizing: border-box;
    justify-content: space-evenly;
    min-width: 350px;
    min-height: 350px; 
    margin: 5px;
  }
  
  button {
    align-self: center;
    display: flex;
    
  }
 
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    height: 7vh;
  }
  .modal-content {
    background-color: #7F9393;
    margin: 10% auto; 
    padding: 15px;
    border: 3px solid #614344;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
  }
  header h2 {
    font-size: 2.2rem;
  }
}}
